%div.chat
  %div.header
    %div.header__top
    %div.header__bottom
  %div.messages
    %div.message
      %div.message__top
        %p.message__top__talker
        %p.message__top__date
      %div.message__contents
        %p.message__contents__sentence
        %img.message__contents__img(src="" alt="")/
  %div.post
    %input.post__message(type="text")/
    %button.post__send(type="submit")